/*--------- font-face ---------*/
@font-face {
  font-family: 'BebasNeueBold';
  src: url("fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeueBold.woff") format("woff"), url("fonts/BebasNeueBold.ttf") format("truetype"), url("fonts/BebasNeueBold.svg#BebasNeueBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansLight';
  src: url("fonts/opensans-light.eot");
  src: url("fonts/opensans-light.eot") format("embedded-opentype"), url("fonts/opensans-light.woff") format("woff"), url("fonts/opensans-light.ttf") format("truetype"), url("fonts/opensans-light.svg#OpenSansLight") format("svg"); }

@font-face {
  font-family: 'OpenSansBold';
  src: url("fonts/opensans-bold.eot");
  src: url("fonts/opensans-bold.eot") format("embedded-opentype"), url("fonts/opensans-bold.woff") format("woff"), url("fonts/opensans-bold.ttf") format("truetype"), url("fonts/opensans-bold.svg#OpenSansBold") format("svg"); }

@font-face {
  font-family: 'OpenSansItalic';
  src: url("fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Italic.woff") format("woff"), url("fonts/OpenSans-Italic.ttf") format("truetype"), url("fonts/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Semibold.woff") format("woff"), url("fonts/OpenSans-Semibold.ttf") format("truetype"), url("fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans.woff") format("woff"), url("fonts/OpenSans.ttf") format("truetype"), url("fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

/*--------- GENERAL & BASIC STYLES ---------*/
html {
  height: 100%; }

body {
  margin: 0;
  font: normal 25px/1.28 'OpenSansLight', Arial, sans-serif;
  color: #252525;
  background: #fff;
  height: 100%;
  -webkit-font-smoothing: antialiased; }
  @media only screen and (max-width: 1559px) {
    body {
      font-size: 20px; } }
  @media only screen and (max-width: 767px) {
    body {
      font-size: 16px; } }

img {
  border-style: none;
  max-width: 100%; }

b, strong {
  font-weight: normal;
  font-family: 'OpenSansBold', Arial, sans-serif; }

a {
  text-decoration: none;
  outline: none;
  color: #000; }

a:hover, a:focus {
  text-decoration: none;
  color: #000; }

a:focus, button:focus {
  outline: none; }

input,
textarea,
select {
  font-family: 'OpenSansLight', Arial, sans-serif;
  vertical-align: middle;
  color: #000; }

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

input[type="email"] {
  box-shadow: none;
  -webkit-box-shadow: none; }

input[type="image"] {
  padding: 0;
  border: none; }

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="submit"],
input[type="button"] {
  cursor: pointer; }

input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none; }

textarea {
  resize: none;
  overflow: auto; }

label {
  font-weight: normal; }

header, footer, article, section, nav, figure, aside, main {
  display: block; }

section {
  position: relative;
  z-index: 1; }

figure, ul {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  word-wrap: break-word; }

h1, h2, h3, h4, h5 {
  margin: 0; }

h1, .h1 {
  font: 54px/1.2 'OpenSansLight', Arial, sans-serif; }

h2, .h2 {
  font: 30px/1.6 'OpenSansLight', Arial, sans-serif; }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#page-wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  background: #fff; }

@font-face {
  font-family: "Icons";
  src: url("fonts/Icons.eot");
  src: url("fonts/Icons.eot?#iefix") format("eot"), url("fonts/Icons.woff") format("woff"), url("fonts/Icons.ttf") format("truetype"), url("fonts/Icons.svg#Icons") format("svg"); }

.icon--andr:before,
.icon--ios:before,
.checkbox input[type="checkbox"]:checked + span:before,
.cite:before {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.icon--andr:before {
  content: '\E001'; }

.icon--ios:before {
  content: '\E002'; }

.checkbox input[type="checkbox"]:checked + span:before {
  content: '\E003'; }

.cite:before {
  content: '\E006'; }

/* Global Styles ========================================================================= */
.form-control::-webkit-input-placeholder {
  color: #939393 !important;
  opacity: 1; }

.form-control:-moz-placeholder {
  color: #939393 !important;
  opacity: 1; }

.form-control::-moz-placeholder {
  color: #939393 !important;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #939393 !important;
  opacity: 1; }

.form-control.placeholder {
  color: #939393 !important; }

.form input:-webkit-autofill, .form textarea:-webkit-autofill, .form select:-webkit-autofill {
  background-color: none; }

a:hover {
  text-decoration: none; }

.animated {
  visibility: hidden !important; }

.visible {
  visibility: visible !important; }

.error-js {
  background: none repeat scroll 0 0 #fff;
  color: #431464;
  padding: 10px 5%;
  position: relative;
  text-align: center;
  z-index: 7777; }

.error-js a {
  color: inherit; }

.error-js a {
  text-decoration: underline; }

.error-js a:hover {
  text-decoration: none; }

.error-js strong {
  display: block; }

.clear {
  clear: both; }

.list-no {
  display: block;
  list-style-type: none; }

.reset-list {
  font-size: 0;
  line-height: 0;
  letter-spacing: -5px; }
  .reset-list > * {
    letter-spacing: 0;
    display: inline-block;
    float: none; }

.wrap-ctr {
  display: block;
  text-align: center;
  font-size: 0;
  line-height: 0;
  letter-spacing: -5px; }
  .wrap-ctr > *, .wrap-ctr:after, .wrap-ctr .holder {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0px;
    font-size: initial;
    line-height: initial; }
  .wrap-ctr:after {
    content: '';
    height: 100%; }

p {
  margin-bottom: 10px; }

.content {
  font-size: 23px;
  line-height: 1.2; }
  @media only screen and (max-width: 767px) {
    .content {
      font-size: 14px;
      line-height: 1.2; } }
  .content p {
    margin-bottom: 15px; }
  .content ol {
    padding: 0;
    list-style: inside decimal; }
    .content ol li {
      margin-bottom: 10px; }
  .content ul {
    padding-left: 22px; }
  .content.site-map ul {
    font-size: 20px; }

.col-center {
  margin: 0 auto;
  float: none; }

.left {
  float: left; }

.right {
  float: right; }

.pad0 {
  padding: 0; }

.pad20 {
  padding: 20px 0; }

.trans, .nav-top a, .form-group__item, .hint {
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }

.title {
  font: 400 50px/1.24 'OpenSansLight', Arial, sans-serif;
  display: block;
  margin-bottom: 32px;
  color: #431464;
  padding-top: 42px; }
  @media only screen and (max-width: 1559px) {
    .title {
      font-size: 42px; } }
  @media only screen and (max-width: 1199px) {
    .title {
      padding-top: 20px;
      margin-bottom: 20px;
      font-size: 36px; } }
  @media only screen and (max-width: 767px) {
    .title {
      font-size: 28px; } }

.cite {
  color: #431464;
  font: 35px/1.1 'OpenSansItalic', Arial, sans-serif;
  position: relative;
  padding-top: 30px; }
  .cite:before {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 0 0;
    line-height: 0.6; }
  @media only screen and (max-width: 1559px) {
    .cite {
      font-size: 28px; } }
  @media only screen and (max-width: 767px) {
    .cite {
      font-size: 18px; } }

.font {
  font-family: 'BebasNeueBold', Arial, sans-serif; }

.pagetitle {
  font: 400 80px/1.24 'OpenSansLight', Arial, sans-serif;
  display: inline-block;
  margin-bottom: 40px;
  color: #431464; }
  @media only screen and (max-width: 1559px) {
    .pagetitle {
      font-size: 64px; } }
  @media only screen and (max-width: 1199px) {
    .pagetitle {
      font-size: 46px; } }
  @media only screen and (max-width: 767px) {
    .pagetitle {
      font-size: 34px;
      margin-bottom: 30px; } }

/*---checkbox/radiobutton---*/
input[type="checkbox"], input[type="radio"] {
  display: none; }

.checkbox, .radio {
  margin: 0px 0 12px; }

.radio + .radio, .checkbox + .checkbox {
  margin-top: 0; }

.checkbox label, .radio label {
  padding-left: 0; }

.checkbox input[type="checkbox"] + span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  padding-left: 34px; }
  .checkbox input[type="checkbox"] + span:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    text-align: center;
    border: 1px solid #cecece;
    position: absolute;
    top: 1px;
    left: 0;
    background: #e5e5e5; }

.checkbox input[type="checkbox"]:checked + span:after {
  background: #431464;
  position: absolute; }

.checkbox input[type="checkbox"]:checked + span:before {
  color: #fff;
  position: absolute;
  top: -3px;
  left: 5px;
  font-size: 32px;
  z-index: 2;
  line-height: 0; }

.radio input[type="radio"] + span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  padding-left: 34px; }
  .radio input[type="radio"] + span:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 3px solid transparent;
    -webkit-box-shadow: 0 0 0 1px #b7b7b7;
    box-shadow: 0 0 0 1px #b7b7b7;
    position: absolute;
    top: 1px;
    left: 0; }

.radio input[type="radio"]:checked + span:before {
  width: 18px;
  height: 18px;
  background: #431464;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #b7b7b7;
  box-shadow: 0 0 0 1px #b7b7b7; }

/*---checkbox/radiobutton---*/
.form .has-error .form-control, .form .has-error .form-control:focus, .form .has-error .bootstrap-select .btn, .form .has-error.bootstrap-select .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #d20000; }

.form .has-error .error-text, .form .has-error + .error-text {
  display: block; }

.form .form-control {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #cecece;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 39px;
  font: 18px/1 'OpenSans', Arial, sans-serif; }
  .form .form-controltextarea {
    background: none; }

.form .form-group {
  position: relative;
  margin-bottom: 25px; }
  @media only screen and (max-width: 767px) {
    .form .form-group {
      margin-bottom: 15px; } }
  .form .form-group .label {
    font: 400 22px/1 'OpenSans', Arial, sans-serif;
    padding: 0;
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #252525;
    white-space: normal; }
    @media only screen and (max-width: 767px) {
      .form .form-group .label {
        font-size: 18px; } }
  .form .form-group.form-group--personal .label {
    font: 18px/1 'OpenSansSemibold', Arial, sans-serif; }
    @media only screen and (max-width: 767px) {
      .form .form-group.form-group--personal .label {
        font-size: 16px; } }

.form .radio, .form .checkbox {
  margin-bottom: 8px; }
  .form .radio:last-child, .form .checkbox:last-child {
    margin-bottom: 0; }

.form .radio-group {
  margin-bottom: 4px; }

.form .mobile-device {
  font-size: 14px;
  line-height: 16px; }

.error-text {
  position: absolute;
  display: none;
  padding: 10px 15px 9px;
  min-width: 143px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  right: 19px;
  top: -21px;
  background: #d20000; }
  .error-text:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: -14px;
    border: 8px solid transparent;
    border-top: 6px solid #d20000; }

.req {
  color: #d20000; }

.btn {
  width: 181px;
  height: 56px;
  font: 30px/1.4 'BebasNeueBold', Arial, sans-serif;
  color: #fff;
  text-align: center;
  background: #694383;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  margin-top: 40px; }

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-color: #cecece; }

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-bottom: none; }

/*icons*/
@media (max-width: 1559px) and (min-width: 1200px) {
  .container {
    width: 1200px; } }

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(67, 20, 100, 0.75); } }

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(67, 20, 100, 0.75); } }

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #3e135d;
  color: white; }

.header-block {
  background: url(../images/bg-top.jpg) no-repeat 50% 0;
  padding: 35px 0 0;
  border-bottom: 7px solid #431464; }
  @media only screen and (max-width: 767px) {
    .header-block {
      padding: 15px 0 0; } }

.nav-top {
  display: block; }
  .nav-top li {
    display: inline-block; }
  .nav-top a {
    margin: 0 0 0 10px;
    color: #fff;
    opacity: .8; }
    .nav-top a:hover {
      opacity: 1; }
  @media only screen and (max-width: 767px) {
    .nav-top {
      font-size: 18px; } }

.heading-block {
  padding: 79px 0 239px;
  color: #fff;
  font-size: 90px; }
  .heading-block strong {
    font: 157px/1 'BebasNeueBold', Arial, sans-serif;
    display: block;
    margin-bottom: 9px; }
    @media only screen and (max-width: 991px) {
      .heading-block strong {
        font-size: 100px; } }
    @media only screen and (max-width: 767px) {
      .heading-block strong {
        font-size: 60px; } }
  @media only screen and (max-width: 991px) {
    .heading-block {
      font-size: 60px;
      padding: 79px 0 170px; } }
  @media only screen and (max-width: 991px) and (max-width: 767px) {
    .heading-block {
      font-size: 40px;
      padding: 50px 0 100px; } }

.coundown-block {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.clock-item .inner {
  height: 0px;
  padding-bottom: 100%;
  position: relative;
  width: 100%; }

@media only screen and (max-width: 991px) {
  .clock-item {
    margin-bottom: 30px; } }

@media only screen and (max-width: 767px) {
  .clock-item {
    margin-bottom: 0px; } }

@media only screen and (max-width: 479px) {
  .clock-item {
    padding: 0 5px; } }

.clock-canvas {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 0px;
  padding-bottom: 100%;
  -webkit-box-shadow: 0 0 1px #c7c7c7;
  box-shadow: 0 0 1px #c7c7c7; }

.text {
  color: #fff;
  font-size: 22px;
  margin-top: -80px;
  position: absolute;
  top: 50%;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  width: 100%; }
  .text .val {
    font-size: 98px;
    line-height: 1.26; }
    @media only screen and (max-width: 1199px) {
      .text .val {
        font-size: 80px; } }
    @media only screen and (max-width: 991px) {
      .text .val {
        font-size: 60px; } }
    @media only screen and (max-width: 767px) {
      .text .val {
        font-size: 40px;
        line-height: 1; } }
    @media only screen and (max-width: 479px) {
      .text .val {
        font-size: 30px; } }
    @media only screen and (max-width: 360px) {
      .text .val {
        font-size: 19px;
        margin-bottom: 0; } }
  .text .type-time {
    font-family: 'OpenSansBold', Arial, sans-serif; }
  @media only screen and (max-width: 991px) {
    .text {
      margin-top: -60px; } }
  @media only screen and (max-width: 767px) {
    .text {
      font-size: 14px;
      margin-top: -40px; } }
  @media only screen and (max-width: 479px) {
    .text {
      margin-top: -35px; } }
  @media only screen and (max-width: 360px) {
    .text {
      font-size: 12px;
      margin-top: -20px; } }

.icon {
  display: inline-block; }

.icon-list-device {
  color: #dfdad8;
  font-size: 36px;
  line-height: 1.2; }
  .icon-list-device li {
    display: inline-block;
    margin: 0 7px 25px; }

.about-block {
  padding: 92px 0 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#e7e7e7));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #e7e7e7 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #e7e7e7 100%);
  overflow: hidden; }
  .about-block .description {
    margin-bottom: 66px; }
    @media only screen and (max-width: 1199px) {
      .about-block .description {
        margin-bottom: 40px; } }
  @media only screen and (max-width: 1199px) {
    .about-block {
      padding: 70px 0 0; } }
  @media only screen and (max-width: 991px) {
    .about-block {
      max-height: none;
      padding: 40px 0 0; } }

.reset-list > div {
  vertical-align: middle;
  font: normal 25px/1.28 'OpenSansLight', Arial, sans-serif; }
  @media only screen and (max-width: 1559px) {
    .reset-list > div {
      font-size: 20px; } }
  @media only screen and (max-width: 991px) {
    .reset-list > div {
      overflow: hidden; } }
  @media only screen and (max-width: 767px) {
    .reset-list > div {
      font-size: 16px; } }

.device-img {
  max-width: 473px;
  max-height: 842px;
  margin-left: 8.3%;
  position: relative;
  z-index: 2; }
  .device-img:before, .device-img:after {
    content: '';
    display: block;
    -webkit-border-radius: 200px;
    border-radius: 200px;
    background: #431464;
    z-index: -1;
    position: absolute;
    top: 53%; }
  .device-img:before {
    width: 113px;
    height: 113px;
    top: 58%;
    left: -35px; }
  .device-img:after {
    width: 27px;
    height: 27px;
    left: -10%; }
  @media only screen and (max-width: 1559px) {
    .device-img {
      max-width: 360px;
      max-height: 620px; } }
  @media only screen and (max-width: 1199px) {
    .device-img {
      max-width: 80%; } }
  @media only screen and (max-width: 991px) {
    .device-img {
      max-width: 225px;
      margin: 0 auto; } }

.icon-delivery {
  width: 125px;
  height: 125px;
  background: #431464;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  position: absolute;
  top: 25%;
  left: 83%;
  z-index: 3;
  font-size: 30px;
  text-align: center; }
  .icon-delivery:before {
    content: '';
    width: 71px;
    height: 60px;
    background: url(../images/icon-delivery.png) no-repeat 0 0;
    display: block;
    position: absolute;
    top: 24%;
    left: 19%; }
  @media only screen and (max-width: 1199px) {
    .icon-delivery {
      width: 110px;
      height: 110px; } }
  @media only screen and (max-width: 767px) {
    .icon-delivery {
      top: 10%;
      left: 72%; } }

.apply {
  padding: 43px 0 0; }
  .apply .description {
    margin-bottom: 40px; }
    @media only screen and (max-width: 991px) {
      .apply .description {
        margin-bottom: 20px; } }

@media only screen and (max-width: 991px) {
  .apply-img {
    max-width: 400px;
    margin: 0 auto; } }

.copy {
  font: normal 15px/1.28 'OpenSans', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  margin-top: -25px; }
  @media only screen and (max-width: 991px) {
    .copy {
      text-align: left; } }

.form-section {
  background: #efefef;
  border-top: 7px solid #431464;
  padding-top: 57px;
  font: 18px/1 'OpenSans', Arial, sans-serif; }
  .form-section p {
    font: 25px/1.28 'OpenSansLight', Arial, sans-serif; }
    @media only screen and (max-width: 767px) {
      .form-section p {
        font-size: 18px; } }
  @media only screen and (max-width: 767px) {
    .form-section {
      font-size: 14px;
      padding-top: 40px; } }

.form {
  padding-top: 36px;
  margin-bottom: 140px; }
  .form .form-group {
    margin-bottom: 10px; }
  .form .table-hover > tbody > tr:hover td {
    background-color: #f4f4f4; }
  @media only screen and (max-width: 767px) {
    .form {
      margin-bottom: 60px;
      padding-top: 30px; } }
  .form .table {
    margin-left: -20px; }
    .form .table td {
      text-align: center;
      background: #fff; }
    .form .table tbody th {
      background: #e5e5e5;
      padding: 0 20px;
      vertical-align: middle; }
      .form .table tbody th label {
        margin-bottom: 0; }
    .form .table .checkbox, .form .table .radio {
      margin-bottom: 0; }
      .form .table .checkbox label, .form .table .radio label {
        line-height: 0; }
    .form .table .checkbox input[type=checkbox] + span {
      padding: 0; }
      .form .table .checkbox input[type=checkbox] + span:after {
        top: 0;
        left: 0;
        position: relative;
        line-height: 0; }
      .form .table .checkbox input[type=checkbox] + span:before {
        top: -4px;
        left: 5px; }
    @media only screen and (max-width: 767px) {
      .form .table {
        margin-left: 0px; }
        .form .table > tbody > tr > td, .form .table > tbody > tr > th, .form .table > thead > tr > td, .form .table > thead > tr > th {
          padding: 5px; }
        .form .table > tbody th {
          padding: 0 5px 0 20px; }
        .form .table > thead > tr:first-child td {
          white-space: nowrap;
          font-size: 11px; } }
    @media only screen and (max-width: 320px) {
      .form .table {
        margin-left: -15px; } }

.form-group__item {
  width: 59%;
  position: relative;
  padding: 15px 0 33px;
  cursor: pointer; }
  .form-group__item:hover {
    background: #ddd9e1; }
    .form-group__item:hover .hint {
      opacity: 1; }
      @media only screen and (max-width: 767px) {
        .form-group__item:hover .hint {
          display: none; } }
  @media only screen and (max-width: 767px) {
    .form-group__item .row > div {
      margin-bottom: 10px; } }
  @media only screen and (max-width: 767px) {
    .form-group__item {
      width: 100%;
      padding: 15px 0 20px; } }

.hint {
  opacity: 0;
  position: absolute;
  padding: 20px;
  border: 1px dashed #431464;
  width: 70%;
  top: 0;
  left: 101%; }
  .hint p {
    font-size: 15px;
    line-height: 1.46; }
  @media only screen and (max-width: 767px) {
    .hint {
      width: 68%; } }
