.js_close_alert {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

.timetable .form-group {
    padding: 0px;
    margin: 0px;
}

#catalog, #catalog ul, #catalog li {
    margin-left: 5px;
    padding-left:5px;
    list-style-type: circle;
}

#catalog .active > a {
    font-weight: bold;
    color: #d58512;
}

#catalog li.active {
    /*list-style-image: url('/img/icon_yes2.png');*/
    list-style-type: disc;
}
.store_logo {
    /*width:100%;*/
    max-height:32px;
}