/*--------- font-face ---------*/
@font-face {
  font-family: 'BebasNeueBold';
  src: url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  
  url('fonts/BebasNeueBold.woff') format('woff'), 
  url('fonts/BebasNeueBold.ttf')  format('truetype'), 
  url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/opensans-light.eot');
    src: url('fonts/opensans-light.eot') format('embedded-opentype'),
         url('fonts/opensans-light.woff') format('woff'),
         url('fonts/opensans-light.ttf') format('truetype'),
         url('fonts/opensans-light.svg#OpenSansLight') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/opensans-bold.eot');
    src: url('fonts/opensans-bold.eot') format('embedded-opentype'),
         url('fonts/opensans-bold.woff') format('woff'),
         url('fonts/opensans-bold.ttf') format('truetype'),
         url('fonts/opensans-bold.svg#OpenSansBold') format('svg');
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url('fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),  
  url('fonts/OpenSans-Italic.woff') format('woff'), 
  url('fonts/OpenSans-Italic.ttf')  format('truetype'), 
  url('fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),  
  url('fonts/OpenSans-Semibold.woff') format('woff'), 
  url('fonts/OpenSans-Semibold.ttf')  format('truetype'), 
  url('fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  
  url('fonts/OpenSans.woff') format('woff'), 
  url('fonts/OpenSans.ttf')  format('truetype'), 
  url('fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}