/*--------- GENERAL & BASIC STYLES ---------*/

html {height: 100%;}
body {
	margin:0;
	font: normal 25px/1.28 'OpenSansLight', Arial, sans-serif;
	color: $color_text;
	background: #fff;
	height: 100%;
	-webkit-font-smoothing: antialiased; 
	@include respond-to(desctop-lg) {
		font-size: 20px;
	}
	@include respond-to(wide-handhelds) {
		font-size: 16px;
	}
}
img {border-style:none;max-width: 100%;}
b, strong {font-weight: normal;font-family:'OpenSansBold', Arial, sans-serif;}
a {
	text-decoration:none;
	outline:none;
	color: #000;
}
a:hover,a:focus {text-decoration:none;color:#000;}
a:focus, button:focus{outline:none;}
input,
textarea,
select {
	font-family: 'OpenSansLight', Arial, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
}
input[type="email"]{
	box-shadow: none;
	-webkit-box-shadow:none;
}
input[type="image"] {padding: 0; border: none;}
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
	border:0;
	padding:0;
}
input[type="submit"],
input[type="button"]{cursor:pointer;}
input[type="submit"]:focus,
input[type="button"]:focus {outline:none;}
textarea {resize: none;overflow: auto;}
label{font-weight:normal;}

header, footer, article, section, nav, figure, aside, main { display: block; }
section{position: relative; z-index: 1;}
figure, ul { margin:0; padding:0; }
p{margin:0;word-wrap:break-word;}
h1,h2,h3,h4,h5{margin:0;}

h1, .h1 {font: 54px/1.2 'OpenSansLight', Arial, sans-serif;}
h2, .h2 {font: 30px/1.6 'OpenSansLight', Arial, sans-serif;}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}

#page-wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  background: #fff;
}