$black:#000;
$white: #fff;
$bth_bg: #694383;
$bth_hover: #3e135d;
$violet: #431464;
$error: #d20000;
$color_text: #252525;
$gray: #e5e5e5;

@mixin respond-to($media) {
  @if $media == phones {
    @media only screen and (max-width: 479px) { @content; }
  }
  @else if $media == handhelds {
    @media only screen and (max-width: 599px) { @content; }
  }
  @else if $media == wide-handhelds {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $media == tablets {
    @media only screen and (max-width: 991px) { @content; }
  }
  @else if $media == desctop {
    @media only screen and (max-width: 1199px) { @content; }
  }
  @else if $media == desctop-lg {
    @media only screen and (max-width: 1559px) { @content; }
  }
}
@mixin reset-list {
	font-size:0;
	line-height:0;
	letter-spacing: -5px;
	&>* {
		letter-spacing: 0;
		display: inline-block;
		float: none;
	}
}

