
.header-block {
    /*height: calc(100% - 42px);*/
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
}
/*#become {*/
    /*position: absolute;*/
    /*bottom: 0;*/
/*}*/

@media only screen and (max-width: 991px) {
    #become {
        position: relative;
        z-index: 9;
        background: #fff;
    }
}