/*--------- font-face ---------*/
@font-face {
  font-family: 'BebasNeueBold';
  src: url("fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeueBold.woff") format("woff"), url("fonts/BebasNeueBold.ttf") format("truetype"), url("fonts/BebasNeueBold.svg#BebasNeueBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansLight';
  src: url("fonts/opensans-light.eot");
  src: url("fonts/opensans-light.eot") format("embedded-opentype"), url("fonts/opensans-light.woff") format("woff"), url("fonts/opensans-light.ttf") format("truetype"), url("fonts/opensans-light.svg#OpenSansLight") format("svg");
}
@font-face {
  font-family: 'OpenSansBold';
  src: url("fonts/opensans-bold.eot");
  src: url("fonts/opensans-bold.eot") format("embedded-opentype"), url("fonts/opensans-bold.woff") format("woff"), url("fonts/opensans-bold.ttf") format("truetype"), url("fonts/opensans-bold.svg#OpenSansBold") format("svg");
}
@font-face {
  font-family: 'OpenSansItalic';
  src: url("fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Italic.woff") format("woff"), url("fonts/OpenSans-Italic.ttf") format("truetype"), url("fonts/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url("fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Semibold.woff") format("woff"), url("fonts/OpenSans-Semibold.ttf") format("truetype"), url("fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url("fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans.woff") format("woff"), url("fonts/OpenSans.ttf") format("truetype"), url("fonts/OpenSans.svg#OpenSans") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AbadiMT-CondensedExtraBold';
  src: url("fonts/AbadiMT-CondensedExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/AbadiMT-CondensedExtraBold.woff") format("woff"), url("fonts/AbadiMT-CondensedExtraBold.ttf") format("truetype"), url("fonts/AbadiMT-CondensedExtraBold.svg#AbadiMT-CondensedExtraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*--------- GENERAL & BASIC STYLES ---------*/
/* line 3, ../sass/_reset.scss */
html {
  height: 100%;
}

/* line 4, ../sass/_reset.scss */
body {
  margin: 0;
  font: normal 25px/1.28 'OpenSansLight', Arial, sans-serif;
  color: #252525;
  background: #fff;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 1559px) {
  /* line 4, ../sass/_reset.scss */
  body {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 4, ../sass/_reset.scss */
  body {
    font-size: 16px;
  }
}

/* line 18, ../sass/_reset.scss */
img {
  border-style: none;
  max-width: 100%;
}

/* line 19, ../sass/_reset.scss */
b, strong {
  font-weight: normal;
  font-family: 'OpenSansBold', Arial, sans-serif;
}

/* line 20, ../sass/_reset.scss */
a {
  text-decoration: none;
  outline: none;
  color: #000;
}

/* line 25, ../sass/_reset.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #000;
}

/* line 26, ../sass/_reset.scss */
a:focus, button:focus {
  outline: none;
}

/* line 27, ../sass/_reset.scss */
input,
textarea,
select {
  font-family: 'OpenSansLight', Arial, sans-serif;
  vertical-align: middle;
  color: #000;
}

/* line 34, ../sass/_reset.scss */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

/* line 39, ../sass/_reset.scss */
input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

/* line 48, ../sass/_reset.scss */
input[type="email"] {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 52, ../sass/_reset.scss */
input[type="image"] {
  padding: 0;
  border: none;
}

/* line 53, ../sass/_reset.scss */
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 59, ../sass/_reset.scss */
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

/* line 61, ../sass/_reset.scss */
input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
}

/* line 63, ../sass/_reset.scss */
textarea {
  resize: none;
  overflow: auto;
}

/* line 64, ../sass/_reset.scss */
label {
  font-weight: normal;
}

/* line 66, ../sass/_reset.scss */
header, footer, article, section, nav, figure, aside, main {
  display: block;
}

/* line 67, ../sass/_reset.scss */
section {
  position: relative;
  z-index: 1;
}

/* line 68, ../sass/_reset.scss */
figure, ul {
  margin: 0;
  padding: 0;
}

/* line 69, ../sass/_reset.scss */
p {
  margin: 0;
  word-wrap: break-word;
}

/* line 70, ../sass/_reset.scss */
h1, h2, h3, h4, h5 {
  margin: 0;
}

/* line 72, ../sass/_reset.scss */
h1, .h1 {
  font: 54px/1.2 'OpenSansLight', Arial, sans-serif;
}

/* line 73, ../sass/_reset.scss */
h2, .h2 {
  font: 30px/1.6 'OpenSansLight', Arial, sans-serif;
}

/* line 75, ../sass/_reset.scss */
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}

/* line 81, ../sass/_reset.scss */
#page-wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
  background: #fff;
}

@font-face {
  font-family: "Icons";
  src: url("fonts/Icons.eot");
  src: url("fonts/Icons.eot?#iefix") format("eot"), url("fonts/Icons.woff") format("woff"), url("fonts/Icons.ttf") format("truetype"), url("fonts/Icons.svg#Icons") format("svg");
}
/* line 22, ../sass/_icons.scss */
.icon--back:before,
.facebook:before,
.icon--andr:before,
.icon--ios:before,
.checkbox input[type="checkbox"]:checked + span:before,
.cite:before,
.instargam:before,
.mailto:before,
.icon--arrow-up:before {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 62, ../sass/_icons.scss */
.icon--back:before {
  content: '\E001';
}

/* line 65, ../sass/_icons.scss */
.facebook:before {
  content: '\E002';
}

/* line 68, ../sass/_icons.scss */
.icon--andr:before {
  content: '\E003';
}

/* line 71, ../sass/_icons.scss */
.icon--ios:before {
  content: '\E004';
}

/* line 74, ../sass/_icons.scss */
.checkbox input[type="checkbox"]:checked + span:before {
  content: '\E005';
}

/* line 83, ../sass/_icons.scss */
.cite:before {
  content: '\E008';
}

/* line 86, ../sass/_icons.scss */
.instargam:before {
  content: '\E009';
}

/* line 89, ../sass/_icons.scss */
.mailto:before {
  content: '\E00A';
}

/* line 92, ../sass/_icons.scss */
.icon--arrow-up:before {
  content: '\E00B';
}

/* Global Styles ========================================================================= */
/* line 2, ../sass/_global.scss */
.form-control::-webkit-input-placeholder {
  color: #939393 !important;
  opacity: 1;
}

/* line 3, ../sass/_global.scss */
.form-control:-moz-placeholder {
  color: #939393 !important;
  opacity: 1;
}

/* line 4, ../sass/_global.scss */
.form-control::-moz-placeholder {
  color: #939393 !important;
  opacity: 1;
}

/* line 5, ../sass/_global.scss */
.form-control:-ms-input-placeholder {
  color: #939393 !important;
  opacity: 1;
}

/* line 6, ../sass/_global.scss */
.form-control.placeholder {
  color: #939393 !important;
}

/* line 7, ../sass/_global.scss */
.form input:-webkit-autofill, .form textarea:-webkit-autofill, .form select:-webkit-autofill {
  background-color: none;
}

/* line 9, ../sass/_global.scss */
a:hover {
  text-decoration: none;
}

/* line 10, ../sass/_global.scss */
.animated {
  visibility: hidden !important;
}

/* line 11, ../sass/_global.scss */
.visible {
  visibility: visible !important;
}

/* line 12, ../sass/_global.scss */
.error-js {
  background: none repeat scroll 0 0 #fff;
  color: #e3c5d3;
  padding: 10px 5%;
  position: relative;
  text-align: center;
  z-index: 7777;
}

/* line 20, ../sass/_global.scss */
.error-js a {
  color: inherit;
}

/* line 21, ../sass/_global.scss */
.error-js a {
  text-decoration: underline;
}

/* line 22, ../sass/_global.scss */
.error-js a:hover {
  text-decoration: none;
}

/* line 23, ../sass/_global.scss */
.error-js strong {
  display: block;
}

/* line 24, ../sass/_global.scss */
.clear {
  clear: both;
}

/* line 25, ../sass/_global.scss */
.list-no {
  display: block;
  list-style-type: none;
}

/* line 29, ../sass/_global.scss */
.reset-list {
  font-size: 0;
  line-height: 0;
  letter-spacing: -5px;
}
/* line 33, ../sass/_global.scss */
.reset-list > * {
  letter-spacing: 0;
  display: inline-block;
  float: none;
}

/* line 39, ../sass/_global.scss */
.wrap-ctr {
  display: block;
  text-align: center;
  font-size: 0;
  line-height: 0;
  letter-spacing: -5px;
}
/* line 45, ../sass/_global.scss */
.wrap-ctr > *, .wrap-ctr:after, .wrap-ctr .holder {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0px;
  font-size: initial;
  line-height: initial;
}
/* line 52, ../sass/_global.scss */
.wrap-ctr:after {
  content: '';
  height: 100%;
}

/* line 57, ../sass/_global.scss */
p {
  margin-bottom: 10px;
}

/* line 58, ../sass/_global.scss */
.content {
  font-size: 23px;
  line-height: 1.2;
}
@media only screen and (max-width: 767px) {
  /* line 58, ../sass/_global.scss */
  .content {
    font-size: 14px;
    line-height: 1.2;
  }
}
/* line 65, ../sass/_global.scss */
.content p {
  margin-bottom: 15px;
}
/* line 66, ../sass/_global.scss */
.content ol {
  padding: 0;
  list-style: inside decimal;
}
/* line 69, ../sass/_global.scss */
.content ol li {
  margin-bottom: 10px;
}
/* line 73, ../sass/_global.scss */
.content ul {
  padding-left: 22px;
}
/* line 75, ../sass/_global.scss */
.content.site-map ul {
  font-size: 20px;
}

/* line 78, ../sass/_global.scss */
.col-center {
  margin: 0 auto;
  float: none;
}

/* line 82, ../sass/_global.scss */
.left {
  float: left;
}

/* line 83, ../sass/_global.scss */
.right {
  float: right;
}

/* line 84, ../sass/_global.scss */
.pad0 {
  padding: 0;
}

/* line 85, ../sass/_global.scss */
.pad20 {
  padding: 20px 0;
}

/* line 86, ../sass/_global.scss */
.trans, .nav-top a, .lang_list a, .lang_list span, .form-group__item, .hint {
  transition: all 0.4s ease-in;
}

/* line 88, ../sass/_global.scss */
.title {
  font: 400 50px/1.24 'OpenSansLight', Arial, sans-serif;
  display: block;
  margin-bottom: 32px;
  color: #5f5d5e;
  padding-top: 42px;
}
@media only screen and (max-width: 1559px) {
  /* line 88, ../sass/_global.scss */
  .title {
    font-size: 42px;
  }
}
@media only screen and (max-width: 1199px) {
  /* line 88, ../sass/_global.scss */
  .title {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 88, ../sass/_global.scss */
  .title {
    font-size: 28px;
  }
}

/* line 106, ../sass/_global.scss */
.cite {
  color: #5f5d5e;
  font: 35px/1.1 'OpenSansItalic', Arial, sans-serif;
  position: relative;
  padding-top: 30px;
}
/* line 112, ../sass/_global.scss */
.cite:before {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  font-size: 14px;
  line-height: 0.5;
  color: #e3c5d3;
}
@media only screen and (max-width: 1559px) {
  /* line 106, ../sass/_global.scss */
  .cite {
    font-size: 28px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 106, ../sass/_global.scss */
  .cite {
    font-size: 18px;
  }
}

/* line 127, ../sass/_global.scss */
.font {
  font-family: 'BebasNeueBold', Arial, sans-serif;
}

/* line 130, ../sass/_global.scss */
.pagetitle {
  font: 400 80px/1.24 'OpenSansLight', Arial, sans-serif;
  display: inline-block;
  margin-bottom: 40px;
  color: #5f5d5e;
}
@media only screen and (max-width: 1559px) {
  /* line 130, ../sass/_global.scss */
  .pagetitle {
    font-size: 64px;
  }
}
@media only screen and (max-width: 1199px) {
  /* line 130, ../sass/_global.scss */
  .pagetitle {
    font-size: 46px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 130, ../sass/_global.scss */
  .pagetitle {
    font-size: 34px;
    margin-bottom: 30px;
  }
}

/*---checkbox/radiobutton---*/
/* line 148, ../sass/_global.scss */
input[type="checkbox"], input[type="radio"] {
  display: none;
}

/* line 151, ../sass/_global.scss */
.checkbox, .radio {
  margin: 0px 0 12px;
}

/* line 152, ../sass/_global.scss */
.radio + .radio, .checkbox + .checkbox {
  margin-top: 0;
}

/* line 153, ../sass/_global.scss */
.checkbox label, .radio label {
  padding-left: 0;
}

/* line 154, ../sass/_global.scss */
.checkbox input[type="checkbox"] + span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  padding-left: 34px;
}
/* line 161, ../sass/_global.scss */
.checkbox input[type="checkbox"] + span:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  text-align: center;
  border: 1px solid #cecece;
  position: absolute;
  top: 1px;
  left: 0;
  background: #e5e5e5;
}

/* line 176, ../sass/_global.scss */
.checkbox input[type="checkbox"]:checked + span:after {
  background: #e3c5d3;
  position: absolute;
}
/* line 181, ../sass/_global.scss */
.checkbox input[type="checkbox"]:checked + span:before {
  color: #fff;
  position: absolute;
  top: 5px;
  left: 4px;
  font-size: 8px;
  z-index: 2;
  line-height: 1.1;
}

/* line 192, ../sass/_global.scss */
.radio input[type="radio"] + span {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  padding-left: 34px;
}
/* line 198, ../sass/_global.scss */
.radio input[type="radio"] + span:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 20px;
  border: 3px solid transparent;
  box-shadow: 0 0 0 1px #b7b7b7;
  position: absolute;
  top: 1px;
  left: 0;
}

/* line 213, ../sass/_global.scss */
.radio input[type="radio"]:checked + span:before {
  width: 18px;
  height: 18px;
  background: #e3c5d3;
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px #b7b7b7;
}

/*---checkbox/radiobutton---*/
/* line 223, ../sass/_global.scss */
.form .has-error .form-control, .form .has-error .form-control:focus, .form .has-error .bootstrap-select .btn, .form .has-error.bootstrap-select .btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #d20000;
}
/* line 228, ../sass/_global.scss */
.form .has-error .error-text, .form .has-error + .error-text {
  display: block;
}
/* line 230, ../sass/_global.scss */
.form .form-control {
  border-radius: 2px;
  background: #fff;
  border: 1px solid #cecece;
  box-shadow: none;
  height: 39px;
  font: 18px/1 'OpenSans', Arial, sans-serif;
}
/* line 233, ../sass/_global.scss */
.form .form-controltextarea {
  background: none;
}
/* line 239, ../sass/_global.scss */
.form .form-group {
  position: relative;
  margin-bottom: 25px;
}
@media only screen and (max-width: 767px) {
  /* line 239, ../sass/_global.scss */
  .form .form-group {
    margin-bottom: 15px;
  }
}
/* line 245, ../sass/_global.scss */
.form .form-group .label {
  font: 400 22px/1 'OpenSans', Arial, sans-serif;
  padding: 0;
  display: block;
  margin-bottom: 10px;
  text-align: left;
  color: #252525;
  white-space: normal;
}
@media only screen and (max-width: 767px) {
  /* line 245, ../sass/_global.scss */
  .form .form-group .label {
    font-size: 18px;
  }
}
/* line 258, ../sass/_global.scss */
.form .form-group.form-group--personal .label {
  font: 18px/1 'OpenSansSemibold', Arial, sans-serif;
}
@media only screen and (max-width: 767px) {
  /* line 258, ../sass/_global.scss */
  .form .form-group.form-group--personal .label {
    font-size: 16px;
  }
}
/* line 266, ../sass/_global.scss */
.form .radio, .form .checkbox {
  margin-bottom: 8px;
}
/* line 268, ../sass/_global.scss */
.form .radio:last-child, .form .checkbox:last-child {
  margin-bottom: 0;
}
/* line 270, ../sass/_global.scss */
.form .radio-group {
  margin-bottom: 4px;
}
/* line 271, ../sass/_global.scss */
.form .mobile-device {
  font-size: 14px;
  line-height: 16px;
}

/* line 274, ../sass/_global.scss */
.error-text {
  position: absolute;
  display: none;
  padding: 10px 15px 9px;
  min-width: 143px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  right: 19px;
  top: -21px;
  background: #d20000;
}
/* line 286, ../sass/_global.scss */
.error-text:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -14px;
  border: 8px solid transparent;
  border-top: 6px solid #d20000;
}

/* line 297, ../sass/_global.scss */
.req {
  color: #d20000;
}

/* line 298, ../sass/_global.scss */
.btn {
  width: 181px;
  height: 56px;
  font: 30px/1.4 'BebasNeueBold', Arial, sans-serif;
  color: #fff;
  text-align: center;
  background: #ebd6e0;
  border-radius: 28px;
  margin-top: 40px;
}

/* line 308, ../sass/_global.scss */
.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-color: #cecece;
}

/* line 309, ../sass/_global.scss */
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-bottom: none;
}

/*icons*/
@media (max-width: 1559px) and (min-width: 1200px) {
  /* line 319, ../sass/_global.scss */
  .container {
    width: 1200px;
  }
}
/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(218, 171, 193, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(218, 171, 193, 0.75);
  }
}
/* line 336, ../sass/_global.scss */
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* line 351, ../sass/_global.scss */
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #daabc1;
  color: white;
}

/* line 10, ../sass/style.scss */
.header-block {
  background: url(../images/bg-top3.jpg) no-repeat 50% 0;
  background-size: cover;
  padding: 35px 0 0;
  border-bottom: 7px solid #e3c5d3;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  /* line 10, ../sass/style.scss */
  .header-block {
    padding: 15px 0 0;
  }
}
@media only screen and (max-width: 479px) {
  /* line 20, ../sass/style.scss */
  .header-block > .container > .text-right {
    text-align: center;
  }
}
/* line 24, ../sass/style.scss */
.header-block:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 31, ../sass/style.scss */
.nav-top {
  display: inline-block;
  vertical-align: middle;
}
/* line 34, ../sass/style.scss */
.nav-top li {
  display: inline-block;
}
/* line 35, ../sass/style.scss */
.nav-top a {
  margin: 0 0 0 10px;
  color: #fff;
  opacity: .8;
}
/* line 40, ../sass/style.scss */
.nav-top a:hover {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  /* line 31, ../sass/style.scss */
  .nav-top {
    font-size: 18px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 31, ../sass/style.scss */
  .nav-top {
    margin-bottom: 10px;
  }
}

/* line 49, ../sass/style.scss */
.lang_list {
  display: inline-block;
  vertical-align: middle;
  margin-left: 75px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 56, ../sass/style.scss */
.lang_list li {
  display: inline-block;
}
/* line 57, ../sass/style.scss */
.lang_list a, .lang_list span {
  color: #fff;
  margin: 0 0 0 10px;
  padding: 5px 7px;
  border: 1px solid transparent;
  width: 39px;
  text-align: center;
  display: block;
}
/* line 67, ../sass/style.scss */
.lang_list a:hover, .lang_list span.active {
  border-color: #fff;
}
@media only screen and (max-width: 479px) {
  /* line 49, ../sass/style.scss */
  .lang_list {
    margin: 0 30px;
  }
}

/* line 74, ../sass/style.scss */
.heading-block {
  padding: 0;
  color: #fff;
  font-size: 90px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  max-width: 99%;
}
/* line 83, ../sass/style.scss */
.heading-block strong {
  font: 400px/1 'BebasNeueBold', Arial, sans-serif;
  font-size: 48vw;
  display: block;
  margin: 0 auto;
  opacity: .7;
}
@media only screen and (max-width: 991px) {
  /* line 83, ../sass/style.scss */
  .heading-block strong {
    font-size: 300px;
    font-size: 48vw;
  }
}
@media only screen and (max-width: 767px) {
  /* line 83, ../sass/style.scss */
  .heading-block strong {
    font-size: 154px;
    font-size: 48vw;
  }
}
@media only screen and (max-width: 991px) {
  /* line 74, ../sass/style.scss */
  .heading-block {
    font-size: 60px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 74, ../sass/style.scss */
  .heading-block {
    font-size: 40px;
  }
}

/* line 105, ../sass/style.scss */
.coundown-block {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 113, ../sass/style.scss */
.clock-item .inner {
  height: 0px;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  /* line 112, ../sass/style.scss */
  .clock-item {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 112, ../sass/style.scss */
  .clock-item {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 112, ../sass/style.scss */
  .clock-item {
    padding: 0 5px;
  }
}

/* line 129, ../sass/style.scss */
.clock-canvas {
  border-radius: 50%;
  height: 0px;
  padding-bottom: 100%;
  box-shadow: 0 0 1px #c7c7c7;
}

/* line 135, ../sass/style.scss */
.text {
  color: #fff;
  font-size: 22px;
  margin-top: -80px;
  position: absolute;
  top: 50%;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  width: 100%;
}
/* line 144, ../sass/style.scss */
.text .val {
  font-size: 98px;
  line-height: 1.26;
}
@media only screen and (max-width: 1199px) {
  /* line 144, ../sass/style.scss */
  .text .val {
    font-size: 80px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 144, ../sass/style.scss */
  .text .val {
    font-size: 60px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 144, ../sass/style.scss */
  .text .val {
    font-size: 40px;
    line-height: 1;
  }
}
@media only screen and (max-width: 479px) {
  /* line 144, ../sass/style.scss */
  .text .val {
    font-size: 30px;
  }
}
@media only screen and (max-width: 360px) {
  /* line 144, ../sass/style.scss */
  .text .val {
    font-size: 19px;
    margin-bottom: 0;
  }
}
/* line 165, ../sass/style.scss */
.text .type-time {
  font-family: 'OpenSansBold', Arial, sans-serif;
}
@media only screen and (max-width: 991px) {
  /* line 135, ../sass/style.scss */
  .text {
    margin-top: -60px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 135, ../sass/style.scss */
  .text {
    font-size: 14px;
    margin-top: -40px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 135, ../sass/style.scss */
  .text {
    margin-top: -35px;
  }
}
@media only screen and (max-width: 360px) {
  /* line 135, ../sass/style.scss */
  .text {
    font-size: 12px;
    margin-top: -20px;
  }
}

/* line 184, ../sass/style.scss */
.icon {
  display: inline-block;
}

/* line 185, ../sass/style.scss */
.icon-list-device {
  color: #dfdad8;
  font-size: 36px;
  line-height: 1.2;
}
/* line 189, ../sass/style.scss */
.icon-list-device li {
  display: inline-block;
  margin: 0 7px 25px;
}

/* line 192, ../sass/style.scss */
.about-block {
  padding: 92px 0 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, #e7e7e7 100%);
  background: -webkit-linear-gradient(top, white 0%, #e7e7e7 100%);
  background: linear-gradient(to bottom, white 0%, #e7e7e7 100%);
  overflow: hidden;
}
/* line 200, ../sass/style.scss */
.about-block .description {
  margin-bottom: 66px;
  font-size: 28px;
}
/* line 201, ../sass/style.scss */
.about-block .description p {
  text-align: justify;
}
@media only screen and (max-width: 1199px) {
  /* line 200, ../sass/style.scss */
  .about-block .description {
    margin-bottom: 40px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 1199px) {
  /* line 192, ../sass/style.scss */
  .about-block {
    padding: 70px 0 0;
  }
}
@media only screen and (max-width: 991px) {
  /* line 192, ../sass/style.scss */
  .about-block {
    max-height: none;
    padding: 40px 0 0;
  }
}

/* line 223, ../sass/style.scss */
.reset-list > div {
  vertical-align: middle;
  font: normal 25px/1.28 'OpenSansLight', Arial, sans-serif;
}
@media only screen and (max-width: 1559px) {
  /* line 223, ../sass/style.scss */
  .reset-list > div {
    font-size: 20px;
  }
}
@media only screen and (max-width: 991px) {
  /* line 223, ../sass/style.scss */
  .reset-list > div {
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  /* line 223, ../sass/style.scss */
  .reset-list > div {
    font-size: 16px;
  }
}

/* line 238, ../sass/style.scss */
.device-img {
  max-width: 390px;
  max-height: 842px;
  margin-left: 10%;
  position: relative;
  z-index: 2;
}
/* line 244, ../sass/style.scss */
.device-img:before, .device-img:after {
  content: '';
  display: block;
  border-radius: 200px;
  background: #e3c5d3;
  z-index: -1;
  position: absolute;
  top: 53%;
}
/* line 253, ../sass/style.scss */
.device-img:before {
  width: 113px;
  height: 113px;
  top: 58%;
  left: -35px;
}
/* line 259, ../sass/style.scss */
.device-img:after {
  width: 27px;
  height: 27px;
  left: -10%;
}
@media only screen and (max-width: 1559px) {
  /* line 238, ../sass/style.scss */
  .device-img {
    max-width: 300px;
    max-height: 620px;
  }
}
@media only screen and (max-width: 1199px) {
  /* line 238, ../sass/style.scss */
  .device-img {
    max-width: 75%;
  }
}
@media only screen and (max-width: 991px) {
  /* line 238, ../sass/style.scss */
  .device-img {
    max-width: 225px;
    margin: 0 auto;
  }
}

/* line 276, ../sass/style.scss */
.icon-delivery {
  width: 125px;
  height: 125px;
  background: #daabc1;
  border-radius: 200px;
  position: absolute;
  top: 25%;
  left: 83%;
  z-index: 3;
  font-size: 30px;
  text-align: center;
}
/* line 287, ../sass/style.scss */
.icon-delivery:before {
  content: '';
  width: 71px;
  height: 60px;
  background: url(../images/icon-delivery.png) no-repeat 0 0;
  display: block;
  position: absolute;
  top: 24%;
  left: 19%;
}
@media only screen and (max-width: 1199px) {
  /* line 276, ../sass/style.scss */
  .icon-delivery {
    width: 110px;
    height: 110px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 276, ../sass/style.scss */
  .icon-delivery {
    top: 10%;
    left: 72%;
  }
}

/* line 306, ../sass/style.scss */
.apply {
  padding: 43px 0 0;
  background: #fff;
}
/* line 309, ../sass/style.scss */
.apply .description {
  margin-bottom: 40px;
}
@media only screen and (max-width: 991px) {
  /* line 309, ../sass/style.scss */
  .apply .description {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 991px) {
  /* line 316, ../sass/style.scss */
  .apply-img {
    max-width: 400px;
    margin: 0 auto;
  }
}

/* line 322, ../sass/style.scss */
.copy {
  font: normal 15px/1.28 'OpenSans', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  margin-bottom: 3px;
}
@media only screen and (max-width: 599px) {
  /* line 331, ../sass/style.scss */
  .copy, .copy p {
    text-align: center;
  }
}

/* line 337, ../sass/style.scss */
.form-section {
  background: #efefef;
  border-top: 7px solid #e3c5d3;
  padding-top: 57px;
  font: 18px/1.1 'OpenSans', Arial, sans-serif;
}
/* line 342, ../sass/style.scss */
.form-section p {
  font: 25px/1.28 'OpenSansLight', Arial, sans-serif;
}
@media only screen and (max-width: 767px) {
  /* line 342, ../sass/style.scss */
  .form-section p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 337, ../sass/style.scss */
  .form-section {
    font-size: 14px;
    padding-top: 40px;
  }
}
@media only screen and (max-width: 599px) {
  /* line 337, ../sass/style.scss */
  .form-section {
    font-size: 11px;
  }
}
/* line 355, ../sass/style.scss */
.form-section .lang_list {
  position: absolute;
  top: -40px;
  right: 0;
}
/* line 359, ../sass/style.scss */
.form-section .lang_list a, .form-section .lang_list span {
  color: #252525;
}
/* line 360, ../sass/style.scss */
.form-section .lang_list a:hover, .form-section .lang_list .active {
  border-color: #252525;
}

/* line 363, ../sass/style.scss */
.link-back {
  position: absolute;
  top: -40px;
  left: 0;
  color: #252525;
  font-size: 35px;
}

/* line 370, ../sass/style.scss */
.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #ebd6e0;
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 25;
  font-size: 30px;
  line-height: 48px;
}
/* line 383, ../sass/style.scss */
.btn-up:hover {
  background: #daabc1;
}

/* line 387, ../sass/style.scss */
.form {
  padding-top: 36px;
  margin-bottom: 140px;
}
/* line 390, ../sass/style.scss */
.form .form-group {
  margin-bottom: 10px;
}
/* line 393, ../sass/style.scss */
.form .table-hover > tbody > tr:hover td {
  background-color: #f4f4f4;
}
@media only screen and (max-width: 767px) {
  /* line 387, ../sass/style.scss */
  .form {
    margin-bottom: 60px;
    padding-top: 30px;
  }
}
/* line 400, ../sass/style.scss */
.form .table {
  margin-left: -20px;
}
/* line 402, ../sass/style.scss */
.form .table td {
  text-align: center;
  background: #fff;
}
/* line 403, ../sass/style.scss */
.form .table tbody th {
  background: #e5e5e5;
  padding: 0 20px;
  vertical-align: middle;
}
/* line 405, ../sass/style.scss */
.form .table tbody th label {
  margin-bottom: 0;
}
/* line 407, ../sass/style.scss */
.form .table .checkbox, .form .table .radio {
  margin-bottom: 0;
}
/* line 409, ../sass/style.scss */
.form .table .checkbox label, .form .table .radio label {
  line-height: 0;
}
/* line 414, ../sass/style.scss */
.form .table .checkbox input[type=checkbox] + span {
  padding: 0;
}
/* line 416, ../sass/style.scss */
.form .table .checkbox input[type=checkbox] + span:after {
  top: 0;
  left: 0;
  position: relative;
  line-height: 0;
}
/* line 417, ../sass/style.scss */
.form .table .checkbox input[type=checkbox] + span:before {
  top: 5px;
  left: 4px;
}
@media only screen and (max-width: 767px) {
  /* line 400, ../sass/style.scss */
  .form .table {
    margin-left: 0px;
  }
  /* line 422, ../sass/style.scss */
  .form .table > tbody > tr > td, .form .table > tbody > tr > th, .form .table > thead > tr > td, .form .table > thead > tr > th {
    padding: 5px;
  }
  /* line 423, ../sass/style.scss */
  .form .table > tbody th {
    padding: 0 5px 0 20px;
  }
  /* line 424, ../sass/style.scss */
  .form .table > thead > tr:first-child td {
    white-space: nowrap;
    font-size: 11px;
  }
}
@media only screen and (max-width: 599px) {
  /* line 427, ../sass/style.scss */
  .form .table > tbody > tr > td, .form .table > tbody > tr > th, .form .table > thead > tr > td, .form .table > thead > tr > th {
    padding: 2px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 400, ../sass/style.scss */
  .form .table {
    margin-left: -15px;
  }
}

/* line 434, ../sass/style.scss */
.form-group__item {
  width: 59%;
  position: relative;
  padding: 15px 0 33px;
  cursor: pointer;
}
/* line 440, ../sass/style.scss */
.form-group__item .label__copy {
  font-size: 16px !important;
}
/* line 443, ../sass/style.scss */
.form-group__item:hover {
  background: #ddd9e1;
}
/* line 445, ../sass/style.scss */
.form-group__item:hover .hint {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  /* line 445, ../sass/style.scss */
  .form-group__item:hover .hint {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 453, ../sass/style.scss */
  .form-group__item .row > div {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 434, ../sass/style.scss */
  .form-group__item {
    width: 100%;
    padding: 15px 0 20px;
  }
}

/* line 464, ../sass/style.scss */
.hint {
  opacity: 0;
  position: absolute;
  padding: 20px;
  border: 1px dashed #e3c5d3;
  width: 70%;
  top: 0;
  left: 101%;
}
/* line 473, ../sass/style.scss */
.hint p {
  font-size: 15px;
  line-height: 1.46;
}
@media only screen and (max-width: 767px) {
  /* line 464, ../sass/style.scss */
  .hint {
    width: 68%;
  }
}

/* line 483, ../sass/style.scss */
.modal-img {
  margin-top: -71px;
}

/* line 487, ../sass/style.scss */
.modal .modal-dialog {
  width: 744px;
}
@media only screen and (max-width: 767px) {
  /* line 487, ../sass/style.scss */
  .modal .modal-dialog {
    width: 100%;
  }
}
/* line 493, ../sass/style.scss */
.modal p {
  margin-bottom: 18px;
}
/* line 494, ../sass/style.scss */
.modal .title {
  margin-bottom: 30px;
}
/* line 497, ../sass/style.scss */
.modal .close {
  height: 24px;
  width: 24px;
  background: url("../images/close.png") no-repeat;
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 1;
}
/* line 506, ../sass/style.scss */
.modal .btn {
  width: 140px;
  color: #5f5d5e;
  font-size: 23px;
}
/* line 511, ../sass/style.scss */
.modal .modal-dialog {
  margin-top: 85px;
}

/* line 515, ../sass/style.scss */
.modal-backdrop {
  background: rgba(243, 243, 243, 0.5);
  opacity: 1;
}
/* line 518, ../sass/style.scss */
.modal-backdrop.in {
  opacity: 1;
}

/* line 521, ../sass/style.scss */
.error-404 {
  background: #f8f8f8 !important;
}
/* line 523, ../sass/style.scss */
.error-404 .btn {
  color: #5f5d5e;
  width: 260px;
}
/* line 527, ../sass/style.scss */
.error-404 .block {
  font: 18px/20px 'OpenSansBold',sans-serif;
  margin-top: 80px;
  padding: 0 15px;
}
@media only screen and (max-width: 991px) {
  /* line 527, ../sass/style.scss */
  .error-404 .block {
    margin-top: 60px;
  }
}
/* line 535, ../sass/style.scss */
.error-404 p {
  margin-bottom: 3px;
}
/* line 538, ../sass/style.scss */
.error-404 .bold {
  font: 40px/42px 'OpenSansBold',sans-serif;
  margin-bottom: 27px;
  color: #000;
}
@media only screen and (max-width: 767px) {
  /* line 538, ../sass/style.scss */
  .error-404 .bold {
    font-size: 30px;
    line-height: 32px;
  }
}
/* line 547, ../sass/style.scss */
.error-404 .middle {
  color: #868686;
  margin-bottom: 10px;
  font: 35px/37px 'OpenSansBold',sans-serif;
}
@media only screen and (max-width: 767px) {
  /* line 547, ../sass/style.scss */
  .error-404 .middle {
    font-size: 20px;
    line-height: 22px;
  }
}

/* line 557, ../sass/style.scss */
.error-404__img {
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 557, ../sass/style.scss */
  .error-404__img {
    margin-bottom: 20px;
  }
}

/* line 563, ../sass/style.scss */
.hfooter--error {
  height: 55px;
  clear: both;
}

/* line 567, ../sass/style.scss */
.footer--error {
  height: 55px;
  border-bottom: 6px solid #e3c5d3;
  margin-top: -55px;
  position: relative;
  z-index: 9;
}
/* line 573, ../sass/style.scss */
.footer--error .copy {
  margin-top: 21px;
}
@media only screen and (max-width: 991px) {
  /* line 573, ../sass/style.scss */
  .footer--error .copy {
    text-align: center;
  }
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 648, ../sass/style.scss */
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

/* line 658, ../sass/style.scss */
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* line 668, ../sass/style.scss */
.socialnetwork {
  color: #7f7f7f;
  float: left;
  font-size: 20px;
}
/* line 672, ../sass/style.scss */
.socialnetwork li {
  display: inline-block;
  margin-right: 23px;
}
/* line 676, ../sass/style.scss */
.socialnetwork a {
  color: #7f7f7f;
}
@media only screen and (max-width: 599px) {
  /* line 668, ../sass/style.scss */
  .socialnetwork {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}

/* line 695, ../sass/style.scss */
.select-text .text {
  position: static;
  margin: 0;
  color: #333;
  text-align: left;
  font-size: 18px;
  text-shadow: none;
}
/* line 703, ../sass/style.scss */
.select-text .btn {
  margin-top: 0;
  width: 100%;
  color: #333;
}
/* line 707, ../sass/style.scss */
.select-text .btn span {
  color: #333;
}

/* line 712, ../sass/style.scss */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

/* line 716, ../sass/style.scss */
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
  font-family: 'BebasNeueBold',sans-serif;
}

/* line 719, ../sass/style.scss */
.height-screen {
  position: relative;
  height: 100vh;
}
/* line 722, ../sass/style.scss */
.height-screen .main-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  padding: 37px 0 20px;
  left: 0;
  right: 0;
}
/* line 729, ../sass/style.scss */
.height-screen .main-menu.bottom {
  z-index: 0;
}

/* line 750, ../sass/style.scss */
.block-icons {
  background: #fff;
  padding: 100px 0 50px;
}
@media only screen and (max-width: 991px) {
  /* line 750, ../sass/style.scss */
  .block-icons {
    height: auto;
    padding: 60px 0 50px;
  }
}
/* line 758, ../sass/style.scss */
.block-icons .container {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}
@media only screen and (max-width: 991px) {
  /* line 758, ../sass/style.scss */
  .block-icons .container {
    display: block;
    padding: 0;
  }
}
/* line 774, ../sass/style.scss */
.block-icons .cite {
  margin-bottom: 150px;
}
@media only screen and (max-width: 991px) {
  /* line 774, ../sass/style.scss */
  .block-icons .cite {
    margin-bottom: 80px;
    padding: 0 30px;
  }
}

/* line 782, ../sass/style.scss */
.item {
  padding: 0 2%;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 45px;
}

/* line 788, ../sass/style.scss */
.item__icon {
  display: block;
  margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  /* line 792, ../sass/style.scss */
  .button-line {
    position: static;
  }
}

/* line 801, ../sass/style.scss */
.btn-app {
  display: inline-block;
  margin: 0 18px 18px;
}

/* line 806, ../sass/style.scss */
.block-cite {
  height: 500px;
  padding: 50px 0;
  background: url(../images/bg-top3.jpg) 50% 0 no-repeat;
  background-attachment: fixed;
}
@media only screen and (max-width: 767px) {
  /* line 806, ../sass/style.scss */
  .block-cite {
    height: 400px;
    padding: 15px 0;
  }
}

/* line 816, ../sass/style.scss */
.wrap-ctr {
  height: 100%;
}
/* line 818, ../sass/style.scss */
.wrap-ctr:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/* line 824, ../sass/style.scss */
.wrap-ctr .cite {
  display: inline-block;
  vertical-align: middle;
  max-width: 95%;
  font-size: 40px;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  /* line 824, ../sass/style.scss */
  .wrap-ctr .cite {
    font-size: 30px;
  }
}

/* line 836, ../sass/style.scss */
.link {
  opacity: .8;
}
/* line 838, ../sass/style.scss */
.link:hover {
  opacity: 1;
}

/* line 842, ../sass/style.scss */
.copy-link {
  float: right;
}
@media only screen and (max-width: 599px) {
  /* line 842, ../sass/style.scss */
  .copy-link {
    float: none;
    display: block;
  }
}

/* line 849, ../sass/style.scss */
.subtitle {
  font: 500 40px/1.24 OpenSansLight,Arial,sans-serif;
  display: block;
  margin-bottom: 40px;
  color: #5f5d5e;
}
@media only screen and (max-width: 1199px) {
  /* line 849, ../sass/style.scss */
  .subtitle {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 849, ../sass/style.scss */
  .subtitle {
    font-size: 24px;
  }
}

/* line 863, ../sass/style.scss */
.page-section .copy {
  margin-top: 0;
}
/* line 866, ../sass/style.scss */
.page-section .content {
  margin-bottom: 20px;
}
/* line 868, ../sass/style.scss */
.page-section .content p {
  font-size: 20px;
}
@media only screen and (max-width: 767px) {
  /* line 868, ../sass/style.scss */
  .page-section .content p {
    font-size: 18px;
  }
}
/* line 875, ../sass/style.scss */
.page-section .pagetitle {
  font-size: 50px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1199px) {
  /* line 875, ../sass/style.scss */
  .page-section .pagetitle {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 875, ../sass/style.scss */
  .page-section .pagetitle {
    font-size: 32px;
  }
}
/* line 885, ../sass/style.scss */
.page-section .title {
  font-size: 36px;
  margin-bottom: 20px;
  padding-top: 20px;
}
@media only screen and (max-width: 1199px) {
  /* line 885, ../sass/style.scss */
  .page-section .title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 885, ../sass/style.scss */
  .page-section .title {
    font-size: 22px;
  }
}

/* line 897, ../sass/style.scss */
.section-fixed-cite {
  background: #fff;
  padding: 200px 0;
}
@media only screen and (max-width: 1199px) {
  /* line 897, ../sass/style.scss */
  .section-fixed-cite {
    padding: 100px 0;
  }
}
/* line 903, ../sass/style.scss */
.section-fixed-cite.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* line 908, ../sass/style.scss */
.section-fixed-cite.fixed + .block-icons {
  margin-top: 500px;
}
@media only screen and (max-width: 1199px) {
  /* line 908, ../sass/style.scss */
  .section-fixed-cite.fixed + .block-icons {
    margin-top: 330px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 908, ../sass/style.scss */
  .section-fixed-cite.fixed + .block-icons {
    margin-top: 335px;
  }
}
