/* Global Styles ========================================================================= */
.form-control::-webkit-input-placeholder {color: #939393!important;opacity:  1; }
.form-control:-moz-placeholder {color: #939393!important;opacity:  1; }
.form-control::-moz-placeholder {color: #939393!important;opacity:  1; }
.form-control:-ms-input-placeholder {color: #939393!important;opacity:  1;}
.form-control.placeholder {color: #939393!important; }
.form input:-webkit-autofill, .form textarea:-webkit-autofill, .form select:-webkit-autofill {background-color: none;}

a:hover {text-decoration: none}
.animated{visibility:hidden!important;}
.visible{visibility:visible!important;}
.error-js{
  background: none repeat scroll 0 0 $white;
  color: $violet;
  padding: 10px 5%;
  position: relative;
  text-align: center;
  z-index: 7777;
}
.error-js a{color:inherit;}
.error-js a{text-decoration:underline;}
.error-js a:hover{text-decoration:none;}
.error-js strong{display:block;}
.clear {clear: both;}
.list-no {
	display: block;
	list-style-type: none;
}
.reset-list {
	font-size: 0;
	line-height: 0;
	letter-spacing: -5px;
	&>* {
		letter-spacing: 0;
		display: inline-block;
		float: none;
	}
}
.wrap-ctr {
	display: block;
	text-align: center;
	font-size:0;
	line-height: 0;
	letter-spacing: -5px;
	&>*, &:after, .holder {
		display: inline-block;
		vertical-align: middle;
		letter-spacing: 0px;
		font-size: initial;
    	line-height: initial
	}
	&:after {
		content:'';
		height: 100%;
	}
}
p {margin-bottom: 10px;}
.content {
	font-size:23px;
	line-height: 1.2;
	@include respond-to(wide-handhelds) {
		font-size: 14px;
		line-height: 1.2;
	}
	p {margin-bottom: 15px;}
	ol {
		padding: 0;
		list-style:inside decimal;
		li {
			margin-bottom: 10px;
		}
	}
	ul {padding-left: 22px;}
	&.site-map {
		ul {font-size: 20px;}
	}
}
.col-center {
	margin: 0 auto;
	float: none;
}
.left {float: left;}
.right {float: right;}
.pad0 {padding: 0;}
.pad20 {padding: 20px 0;}
.trans {transition: all 0.4s ease-in;}

.title {
	font: 400 50px/1.24 'OpenSansLight', Arial, sans-serif;
	display: block;
	margin-bottom: 32px;
	color: $color_title;
	padding-top: 42px;
	@include respond-to(desctop-lg) {
		font-size: 42px;
	}
	@include respond-to(desctop) {
		padding-top: 20px;
		margin-bottom: 20px;
		font-size: 36px;
	}
	@include respond-to(wide-handhelds) {
		font-size: 28px;
	}
}
.cite {
	color: $color_title;
	font: 35px/1.1 'OpenSansItalic', Arial, sans-serif; 
	position: relative;
	padding-top: 30px;
	@extend %icon-ico06;
	&:before {
		display: inline-block;
	    vertical-align: middle;
	    margin: 0 5px 0 0;
	    font-size: 14px;
	    line-height: 0.5;
	    color: $violet;
	}
	@include respond-to(desctop-lg) {
		font-size: 28px;
	}
	@include respond-to(wide-handhelds) {
		font-size: 18px;
	}
}
.font {
	font-family: 'BebasNeueBold', Arial, sans-serif; 
}
.pagetitle {
	font: 400 80px/1.24 'OpenSansLight', Arial, sans-serif;
	display: inline-block;
	margin-bottom: 40px;
	color: $color_title;
	@include respond-to(desctop-lg) {
		font-size: 64px;
	}
	@include respond-to(desctop) {
		font-size: 46px;
	}
	@include respond-to(wide-handhelds) {
		font-size: 34px;
		margin-bottom: 30px;
	}
}

/*---checkbox/radiobutton---*/
input[type="checkbox"],input[type="radio"] {
	display:none;
}
.checkbox, .radio {margin: 0px 0 12px}
.radio + .radio, .checkbox + .checkbox {margin-top: 0}
.checkbox label, .radio label {padding-left: 0;}
.checkbox input[type="checkbox"] + span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	font-size: 16px;
	position: relative;
	padding-left: 34px;
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 17px;
		height: 17px;
		text-align: center;
		border:1px solid #cecece;
		position: absolute;
		top:1px;
		left: 0;
		background: $gray;
	}
}
.checkbox input[type="checkbox"]:checked + span {
	&:after {
		background: $violet;
		position: absolute;
	}
	@extend %icon-ico03;
	&:before {
		color:$white;
		position: absolute;
        top: 5px;
	    left: 4px;
	    font-size: 8px;
	    z-index: 2;
	    line-height: 1.1;
	}
	
}
.radio input[type="radio"] + span {
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
	font-size: 16px;
	padding-left: 34px;
	&:before {
		content: '';
		display:inline-block;
		vertical-align:middle;
		width: 18px;
		height: 18px;
		background: $white;
		border-radius: 20px;
		border:3px solid transparent;
		box-shadow: 0 0 0 1px #b7b7b7;
		position: absolute;
		top: 1px;
		left: 0;
	}
}
.radio input[type="radio"]:checked + span:before {
	width: 18px;
	height: 18px;
	background: $violet;
	border:5px solid $white;
	box-shadow: 0 0 0 1px #b7b7b7;
}
/*---checkbox/radiobutton---*/
.form {
	.has-error {
		.form-control,.form-control:focus, .bootstrap-select .btn, &.bootstrap-select .btn {
			-webkit-box-shadow: none;
	    	box-shadow: none;
		    border-color: $error;
		}
		.error-text, & + .error-text {display: block}
	}
	.form-control {
		border-radius:2px;
		background: $white;
		&textarea {background: none};
		border: 1px solid #cecece;
		box-shadow:none;
		height: 39px;
		font: 18px/1 'OpenSans', Arial, sans-serif; 
	}
	.form-group {
		position: relative;
		margin-bottom: 25px;
		@include respond-to(wide-handhelds) {
			margin-bottom: 15px;
		}
		.label {
			font: 400 22px/1 'OpenSans', Arial, sans-serif;
			padding: 0;
			display: block;
			margin-bottom: 10px;
			text-align: left;
			color: $color_text;
			white-space: normal;
			@include respond-to(wide-handhelds){
				font-size: 18px;
			}
		}
		&.form-group--personal {
			.label {
				font: 18px/1 'OpenSansSemibold', Arial, sans-serif;
				@include respond-to(wide-handhelds){
					font-size: 16px;
				} 
			}
		}
	}
	.radio, .checkbox {
		margin-bottom: 8px;
		&:last-child {margin-bottom: 0}
	}
	.radio-group {margin-bottom:4px;}
	.mobile-device {font-size:14px;line-height: 16px;}
	
}
.error-text {
	position: absolute;
	display: none;
	padding: 10px 15px 9px;
	min-width: 143px;
	text-align: center;
	font-size: 13px; 
	color: $white;
	text-transform: uppercase;
	right:19px;
	top:-21px;
	background: $error;
	&:after {
		content: '';
		display: block;
	    position: absolute;
	    left: 50%;
	    margin-left: -8px;
	    bottom: -14px;
	    border: 8px solid transparent;
	    border-top: 6px solid $error;
	}
}
.req {color: $error;}
.btn {
	width: 181px;
	height: 56px;
	font: 30px/1.4 'BebasNeueBold', Arial, sans-serif; 
	color: $white;
	text-align: center;
	background: $bth_bg;
	border-radius: 28px;
	margin-top: 40px;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {border-color: #cecece}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {border-bottom: none;}


/*icons*/
.icon--andr {@extend %icon-ico01;}
.icon--ios {@extend %icon-ico02;}
.icon--back {@extend %icon-back;}
.icon--arrow-up {@extend %icon-up-arrow;}

@media (max-width: 1559px) and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(218, 171, 193, 0.75);
  }
}

@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(218, 171, 193, 0.75);
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: $bth_hover;
  color: white;
}
