$icon_font_name:"Icons";
@font-face {
	font-family:$icon_font_name;
	src: url('fonts/Icons.eot');
	src: url('fonts/Icons.eot?#iefix') format('eot'),
	url('fonts/Icons.woff') format('woff'),
	url('fonts/Icons.ttf') format('truetype'),
	url('fonts/Icons.svg#Icons') format('svg');
}
%icon-back,
%icon-facebook,
%icon-ico01,
%icon-ico02,
%icon-ico03,
%icon-ico04,
%icon-ico05,
%icon-ico06,
%icon-instagram,
%icon-mail,
%icon-up-arrow,
%last_selector {
		&:before {
			font-family:$icon_font_name;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
			text-decoration: none;
			text-transform: none;
		}
	}

%icons_before_after {
	&:before,
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icons_after {
	&:after {
		font-family: $icon_font_name;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icon-back:before {
	content:'\E001';
}
%icon-facebook:before {
	content:'\E002';
}
%icon-ico01:before {
	content:'\E003';
}
%icon-ico02:before {
	content:'\E004';
}
%icon-ico03:before {
	content:'\E005';
}
%icon-ico04:before {
	content:'\E006';
}
%icon-ico05:before {
	content:'\E007';
}
%icon-ico06:before {
	content:'\E008';
}
%icon-instagram:before {
	content:'\E009';
}
%icon-mail:before {
	content:'\E00A';
}
%icon-up-arrow:before {
	content:'\E00B';
}